@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff");
}
@font-face {
    font-family: "Open Sans Bold";
    src: url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
}
@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/OpenSans/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans/OpenSans-Light.woff") format("woff");
}
@font-face {
    font-family: "Open Sans ExtraBold";
    src: url("../fonts/OpenSans/OpenSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/OpenSans/OpenSans-ExtraBold.woff") format("woff");
}
@font-face {
    font-family: "Open Sans SemiBold";
    src: url("../fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff");
}